.categories {
  text-align: center;
  margin-bottom: 3rem;
  background: var(--color-star);
  padding: 1rem;
  border: 2px solid var(--color-dark);
}

.categories-select {
  margin-right: 15px;
  background: var(--color-light);
  padding: 5px;
}
